*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    color: white;
}
/* MENU */
div.nav{
    z-index: 999;
    position: fixed;
    background-color: rgb(0,0,0);
    width: 100%;
    }
    header{
    /* width: 1700px; */
    margin:0 auto;
    /* max-width: 100%; */
    display: flex;
    padding: 0px 55px;
    height: 70px; /* chiều cao của div.nav đến section ảnh*/ 
    }
    div.logo{
    width: 25%;
    padding: 20px 0px;
    }
    div.menu{
    width: 75%;
    }
    div.logo > a >img{
    width: 100%;
    }
    .menu > ul{
      list-style-type: none;
      display: flex;
      width: 100%;
    }
    .menu > ul > li.item {
    padding: 25px;
    padding-top: 10px;
    }
    .menu > ul > li.item >a{
      color: #999;
      text-decoration: none;
      font-size: 15px;
    }
    hr{
    position: relative;
    z-index: 999;
    background: white;
    margin-top: 0;
    }
    .phone > a > span > img{
      width: 4%;
    }
    .phone {
      padding-top: 20px;
      text-align: center;
    }
    .phone > a {
      padding: 3px;
    }
    .phone > a > img{
      width: 7%;
    }
    /* MENU HIDDEN */
    div.dropmenu{
      visibility: hidden;
      transform: translateY(-20px);
      transition: opacity 0.5s ease,transform 0.5s ease; 
      opacity: 0;
      position: absolute;
      background-color:rgb(58, 55, 55);
      left: 0;
      right: 0;
      transition-duration: 0.8s; /* thời gian diễn ra hiệu ứng*/
    }
    .item:hover .dropmenu{
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }
    div.dropmenu-sub{
      height: 275px;
      width: 1500px;
      margin-left: auto;
      margin-right: auto;
    }
    div.menu-group{
      float: left;
      width: 25%;
    }
    h3 > a:hover{
      color: white;
    }
    a:hover{
      color:#999;
      text-decoration-color: white;
    }
    a{
      font-size: 13px;
      font-family: 'Montserrat', sans-serif;
      text-align: left;
      color: #999;
      text-decoration: none;
    }
    h3 > a{
      color: white;
      font-size: 16px;
      font-weight: bold;
      padding: 10px;
    }
    ul > ul > li{
      padding: 8px 10px;
    }
    ul{
      list-style-type: none;
    }
    /* CSS HOVER MENU */
    .btn {
    line-height: 35px; /* chiều cao giữa 2 border và text*/
    text-transform:uppercase; /*kiểu chữ */
    }
    .btn-2 {
      letter-spacing: 3px; /*khoảng cách của chữ trước khi hover*/
    }
    .btn-2.color-green:hover,
    .btn-2.color-green:active {
    color: white; /*Màu sản phẩm*/
    }
    .btn-2:hover,
    .btn-2:active {
    letter-spacing: 3.5px; /*khoảng cách của chữ sau khi hover*/
    }
    .btn-2:after,
    .btn-2:before {
    backface-visibility:visible;
    border: 1px solid rgba(#fff, 0);
    bottom: 0px;
    content: " ";
    display: block;
    margin: 0 auto;
    position: relative;
    transition: all 300ms ease-in-out;  /*độ trễ của hiệu ứng menu*/
    width: 0;
    opacity: 0;
    }
    .btn-2.color-green:after,
    .btn-2.color-green:before {
    border: 1px solid white;
    }
    .btn-2:hover:after,
    .btn-2:hover:before {
    backface-visibility: hidden;
    transition: width 350ms ease-in-out;
    width: 70%;
    opacity: 1;
    }

     /* SECTION */
  section{
    padding-top: 70px;
  }
  hr{
    position: relative;
    z-index: 1;
    background:#444343 !important;
    margin-top: 0;
    }
ul.menu-item{
  padding: 20px 0px;
  margin-bottom: 0px;
  text-decoration: none;
  display: flex;
}
ul.menu-item >li{
  padding: 0px 5px;
}
ul.menu-item >li>a{
  font-size: 14px;
}
div.box-furniture{
  background-color: rgb(253, 253, 253);
}
div.box-main{
  background-color: #111111;
  height: 350px;
}
h1{
    font-size: 48px;
  font-weight: bold;
  text-align: center;
}
div.main{
    width: 100%;
    max-width: 1640px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
}
div.box-text{
    text-align: left;
    max-width: 986px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 70px;
}

/* CONTENT */
img{
  width: 100%;
}
.group{
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
}
.produce{
  display: flex;
  flex-wrap: wrap;
}
div.item-produce{
  width: 33.33%;
  padding: 10px;
}
.text{
  color:#111111;
  font-weight: bold;
  text-align: center;
  padding: 3px;
}
.text-p{
  color:#111111;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
}
hr.i{
  position: relative;
  z-index: 1;
  background: #D8D8D8 !important;
  margin-top: 28px;
  margin-left: 20px;
}